* {
    margin: 0;
    padding: 0;
    left: 0;
    box-sizing: border-box;
}

/* background */
body {
    align-items: center;
    text-align: center;
    background-color: skyblue;
    animation-name: sky;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    overflow: hidden;
}

@keyframes sky {
    0% {
        background-color: skyblue;
    }
    25% {
        background-color: pink;
    }
    50% {
        /* background-color: rgb(206, 117, 0); */
        /* background-color: darkgoldenrod; */
        background-color: darkorange;
    }
    75% {
        background-color: blue;
    }
    100% {
        background-color: darkblue;
    }
}

#sun {
    position: absolute;
    top: -80px;
    left: -80px;
    width: 16vw;
    height: 30vh;
    background-color: palegoldenrod;
    background: linear-gradient(120deg, palegoldenrod, gold);
    border-radius: 100%;
    animation-name: sun;
    animation-play-state: running;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes sun {
    0% {
        left: -80px;
    }
    100% {
        left: 1380px;
        top: 680px;
    }
}

/* header */
header {
    width: 100%;
    height: 30vh;
    text-align: center;
    color: white;
    padding: 50px;
}

h1 {
    font-size: 65px !important;
    padding: 10px;
}

p {
    font-size: 20px;
    padding: 10px;
    padding-bottom: 3px;
}

/* input table */
.table {
    position: absolute;
    text-align: center;
    font-size: 20px;
    top: 26%;
    left: 10%;
    width: 1200px !important;
    color: white !important;
    border: black !important;
    background-color: black;
}

th {
    font-size: 24px;
    align-items: center;
}

#hour,
#save {
    width: 10%;
}

.input {
    position: relative;
    width: 100%;
    padding: 3px;
    margin: 0;
    background: none;
    border: none;
    color: white;
}


.fa:hover {
    opacity: 0.5;
    cursor: pointer;
}